.dashboard-page{
    min-height: 100vh;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 35px;
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
}
#create-class-button {
    background-color: #4206a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    display: block;
}

#create-class-button:hover {
    background-color: #32048a;
}


.no-courses {
    text-align: center;
    color: white;
    font-size: 1.7rem;
    margin-top: 60px;
    margin-bottom: 80px;
    font-weight: 700;
    opacity: 0.85;
}
