.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #111;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 900px){
  .logo a{
    font-size: 16px;
  }
  .nav-links{
    gap: 10px;
  }

  .nav-links a {
    font-size: 14px;
  }

  .header{
    padding: 13px 20px;
  }
}
