.todo{
    display: flex;
    justify-content: center;
}

.todo input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 12px;
    border: 1.25px solid black;
}

.todo button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 12px;
    border: 1.25px solid black;
}

.todo button:hover {
    background-color: #45a049;
}